.header{
     display: flex;
    align-items: start;
    justify-content: center;
    padding-top: 2rem;
}

.header-setting-icon{
    transform: translateX(33rem);
    color: var(--secondary-color);
}

.quick-start-heading{
    color: var(--secondary-color);
}

@media screen and (min-width: 320px) and (max-width: 480px){
    .header-setting-icon{
    transform: translateX(4rem);
    color: var(--secondary-color);
}

}


