.header{
     display: flex;
    align-items: start;
    justify-content: center;
    padding-top: 2rem;
}

.header-setting-icon{
    transform: translateX(33rem);
    color: var(--secondary-color);
}

.quick-start-heading{
    color: var(--secondary-color);
}

@media screen and (min-width: 320px) and (max-width: 480px){
    .header-setting-icon{
    transform: translateX(2rem);
    color: var(--secondary-color);
}

}

@media screen and (min-width: 481px) and (max-width: 768px){
    .header-setting-icon{
    transform: translateX(4rem);
    color: var(--secondary-color);
}
}

@media screen and (min-width: 769px) and (max-width: 1024px){
     .header-setting-icon{
    transform: translateX(12rem);
    color: var(--secondary-color);
}
}

@media screen and (min-width: 1025px){
     .header-setting-icon{
    transform: translateX(20rem);
}
}



