*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.breathing-buttons{
    display: flex;
    gap: 2rem;
}


.breathing-button{
    border: none;
    padding: .5rem 1rem;
    font-size: 1.3rem;
    border-radius: 10px;
    border-left: .3rem solid var(--secondary-color);
    background-color: var(--primary-color);
    color: white;
    animation: breath 3s infinite;
    cursor: pointer;
}

@keyframes breath {
    0% {
        font-size: 1.3rem;
        padding: .5rem 1rem;
        border-left: .3rem solid var(--secondary-color);
    }

    50% {
        font-size: 1.35rem;
        padding: .55rem 1.1rem;
        border-left: .4rem solid var(--secondary-color);
    }

    100%{
         font-size: 1.3rem;
        padding: .5rem 1rem;
        border-left: .3rem solid var(--secondary-color);
    }
}

.card-icon{
    width: 78px;
    height: 76px;
}

.cards{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1rem;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 416px;
    height: 192px;
    padding: 15px 20px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 10px;
    border-left: .5rem solid var(--secondary-color);
}

.cards a{
    text-decoration: none;
}

.card-link-icon{
    transform: translate(195px, -35px);
}

.distribution-details{
    display: flex;
    gap: 15rem;
}

.distribution-header{
    color: var(--secondary-color);
}

.distribution{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}